/* Extra small */
@media (max-width: 575px) {

    .container {
        width: 90%;
    }

    
    /* HEADER */
    #title div {
        font-size: 18vw;
        letter-spacing: -5px;
        transform: translateX(-1.1vw);
    }

    #index h2 {
        font-size: 5.5vw;
    }

    /* STATISTICS */
    .container-small {
        width: 80%;
    }

    /* LAST ANNOUNCEMENTS */
    #cards-wrapper {
        overflow-x: auto; 
        flex-wrap: nowrap;
    }

}
  
/* Small */
@media (min-width: 576px) {

    /* HEADER */

    #title div {
        font-size: 18vw;
        transform: translateX(-0.8vw);
    }

    #index h2 {
        font-size: 4vw;
    }

}
  
/* Medium */
@media (min-width: 769px) {

    /* HEADER */
    #index h2 {
        font-size: 3vw;
    }

}
  
/* Large */
@media (min-width: 992px) {

    /* HEADER */
    #title div {
        font-size: 14vw;
        letter-spacing: 10px;
        transform: translateX(-40px);
        animation: welcomeFull 2s ease-in-out infinite;
        animation-delay: calc(.15s*var(--index));
    }
}