/* NAVBAR */
#ann .nav-link-custom {
    color: var(--dark);
    text-decoration: none;
}


/* HEADER */
#ann-title {
    font-family: "Elanorlight";
    font-size: calc(3rem + 2vw);
}


/* FILTER */
#ann-wrapper {
    background-color: var(--pink);
    min-height: 100vh;
}

#accordion-title {
    font-weight: 200;
    padding: 23px;
}

.accordion {
    --bs-accordion-bg: var(--white);
    border: 2px solid var(--cream);

    h3 {
        font-size: 1.5rem;
        font-weight: 200;
    }

    .accordion-body {
    
        padding: 25px;
    
        #word {
            width: 100%;
            margin: 10px 0px;
        }
    }
    
    input {
        outline: none;
        border: .5px solid var(--dark);
        border-radius: 5px;
        padding: 8px;
        background-color: var(--white);
        box-shadow: none;

        &:focus {
            border: .5px solid var(--pink);
            outline: 1px solid var(--pink);
        }        
    }
}

.accordion-item {
    border-bottom: 2px solid var(--cream);
}

.accordion-button {
    color: var(--dark);
    background-color: var(--white);
    padding: 25px;

    &:not(.collapsed) {
        color: var(--dark);
        background-color: var(--pink);
    }

    &:focus {
        box-shadow: none;
    }

    &:focus-visible {
    box-shadow: 0 0px 1px 1px var(--pink);
    }
}

#section-cards {
    animation: zoom-in .6s ease forwards;
}

@keyframes zoom-in {
    0% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    75% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
    }
}

input[type="radio"] {
    appearance: none;
}

.accordion .input-category {
    border: none;
    padding: 2px;

    &:focus, &:focus-visible {
        outline: none;
        border: none;    
    }
}

.accordion .input-category::before {
    --full: 22px;
    --empty: 2px;


    vertical-align: middle;
    content: '';
    display: inline-block;
    width: var(--full);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--empty) inset var(--pink);
    transition: .2s;
}

.accordion .input-category:checked::before {
    box-shadow: 0 0 0 var(--full) inset var(--pink);
}

.field-price {
    width: 80px;
    aspect-ratio: 2;
    border: 1px solid var(--pink);
    border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.accordion .range {
    width: 100%;
    --border: 5px;
    --empty: 5px;
    --size: 20px;
    --color: color-mix(in srgb, var(--pink), #000 var(--x,0%));

    appearance: none;
    background: none;
    cursor: pointer;
    overflow: hidden;

    border: none;
    outline: none;

    &:focus {
        border: none;
        outline: none;
    }    

    &:focus-visible, &:hover {
        --x: 20%;
    }

    &:active, &:focus-visible{
        --full: var(--size);
    }

}

.range[type="range"]::-webkit-slider-thumb{
    height: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--full,var(--empty)) inset var(--color);
    border-image: linear-gradient(90deg,var(--color) 50%,var(--cream) 0) 0 1/calc(50% - var(--empty)/2) 100vw/0 calc(100vw + var(--border));
    appearance: none;
    transition: .3s;
}

.link-search-fail {
    color: var(--dark);
    font-weight: 400;
}

.accordion .form-range {
    border: none;
    padding: 0;

    &:focus {
        border: none;
        outline: none;
    }
}


/* FOOTER */
#ann footer {
    margin-top: 0;
}