
/* NAVBAR */
#ann .nav-link-custom {
    color: var(--dark);
    text-decoration: none;
}


/* HEADER */
#ann-title {
    font-family: "Elanorlight";
    font-size: calc(.9rem + 5.2vw);
}

/* FILTER */
#ann-wrapper {
    background-color: var(--pink);
    min-height: 100vh;
}

.accordion h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 20px;
}

#section-cards {
    animation: zoom-in .6s ease forwards;
}

@keyframes zoom-in {
    0% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    75% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0);
    }
}


/* FOOTER */
#ann footer {
    margin-top: 0;
}