/* large */
@media (min-width: 992px) {
    
}

/* medium */
@media (min-width: 768px) {
    #home-title div{
        animation: welcomeFull 2.5s ease-in-out infinite;
        animation-delay: calc(.15s*var(--index));
    }
}

/* small */
@media (min-width: 576px) {
    
}

/* extra small */
@media only screen and (max-width: 575px) {
    
    #home-title div {
        font-size: 62px;
        animation: welcomeHalf 2.5s ease-in-out infinite;
        animation-delay: calc(.15s*var(--index));
        transform: translateX(0);

    }

    #index h2 {
        font-family: "ElanorLight";
        font-size: 22px;
    }
}

/* extra extra small */
@media only screen and (max-width: 375px) {
    
    #home-title div {
        font-size: 56px;
    }

    #index h2 {
        font-family: "ElanorLight";
        font-size: 18px;
    }
}