:root {
    --white: #FFFFFA;
    --cream: #EBF5EE;
    --pink: #FF7477;
    /* --dark: #143C49; */
    --dark: green;
}

.myBorder {
    border: 1px solid red;
}

.myBorderTwo {
    border: 1px solid blue;
}

* {
    color: var(--dark);
    font-family: "poppins", "helvetica", sans-serif;
}

body {
    background-color: var(--white);

}

@font-face {
    font-family: "DxAiter";
    src: url(./my-fonts/Dx\ Aiter\ Free\ Demo.otf);
}

@font-face {
    font-family: "ElanorBold";
    src: url(./my-fonts/ElanorFreePersonalUse-ExBdIt.otf);
}

@font-face {
    font-family: "ElanorLight";
    src: url(./my-fonts/ElanorFreePersonalUse-ExtLt.otf);
}
