:root {
    --white: rgb(255, 255, 250);
    --cream: rgb(235, 245, 238);
    --pink: rgb(255, 116, 119);
    --dark: rgb(20, 60, 73);
    --secondary-dark: #455C63;
}

.B {
    border: 1px solid red;
}

.A {
    border: 1px solid blue;
}

* {
    color: var(--dark);
    font-family: "poppins", "helvetica", sans-serif;
}

body {
    background-color: var(--white);
}


@font-face {
    font-family: "ElanorBold";
    src: url(./my-fonts/ElanorFreePersonalUse-ExBdIt.otf);
}

@font-face {
    font-family: "ElanorLight";
    src: url(./my-fonts/ElanorFreePersonalUse-ExtLt.otf);
}