:root {
    --white: #fffffa;
    --cream: #ebf5ee;
    --pink: #ff7477;
    --dark: #143c49;
    --secondary-dark: hwb(194 27% 61%);
}

* {
    color: var(--dark);
    font-family: "poppins", "helvetica", sans-serif;
}

body {
    background-color: var(--white);
}


@font-face {
    font-family: "ElanorBold";
    src: url(./my-fonts/ElanorFreePersonalUse-ExBdIt.otf);
}

@font-face {
    font-family: "ElanorLight";
    src: url(./my-fonts/ElanorFreePersonalUse-ExtLt.otf);
}