.myborder {
    border: 1px solid red;
}

.mybordertwo {
    border: 1px solid blue;
}

#index h2 {
    font-family: "ElanorLight";
    font-weight: 100;
    font-size: 24px;
}

#home-title div {
    font-size: 150px;
    letter-spacing: 10px;
    transform: translateX(-50px);
    font-family: "ElanorBold";
    display: inline-block;
}

/* @keyframes welcome {
    0% {
        color: var(--black);
        transform: scale(1);
        letter-spacing: 14px;
        transform: translateX(0);
    }
    25% {
        transform: scale(1.4);
        color: var(--pink);
        letter-spacing: 40px;
        transform: translateX(100px);
    }
    40% {
        color: var(--black);
    }
    50%, 100% {
        transform: scale(1);
        letter-spacing: 14px;
        transform: translateX(0);
    }
} */

@keyframes welcomeFull {
    0% {
        color: var(--black);
        transform: translateX(-50px);
        letter-spacing: 10px;
    }
    30%{
        color: var(--pink);
    }
    50% {
        transform: translateX(50px);
        letter-spacing: 44px;
    }
    60% {
        color: var(--dark);
    }
    100% {
        transform: translateX(-50px);
        letter-spacing: 10px;
    }
}

@keyframes welcomeHalf {
    0%, 10% {
        color: var(--black);
    }
    50% {
        color: var(--pink);
    }
    90%, 100% {
        color: var(--black);
    }
}

#layout {
    height: 400px;
}