/* NAVBAR */

.navbar {
    background-color: var(--white);
    border-bottom: 1px solid var(--pink);
    color: var(--black);
}

.navbar-brand {
    font-family: "ElanorBold";
    font-size: 1.8rem;
    color: var(--dark);
}

#index .nav-link-custom {
    color: rgba(20, 60, 73, 0.7);
    text-decoration: none;

    &:hover {
        color: var(--dark);
    }

    &:active {
        color: var(--dark);
    }
}


/* HEADER */

#index header {
    height: 85vh;
}

#index h2 {
    font-family: "ElanorLight";
}

#title div {
    font-family: "ElanorBold";
    display: inline-block;
    animation: welcomeHalf 2s ease-in-out infinite;
    animation-delay: calc(.15s*var(--index));
}

@keyframes welcomeFull {
    0% {
        color: var(--black);
        transform: translateX(-40px);
        letter-spacing: 10px;
    }
    30%{
        color: var(--pink);
    }
    50% {
        transform: translateX(48px);
        letter-spacing: 36px;
    }
    80% {
        color: var(--dark);
    }
    100% {
        transform: translateX(-40px);
        letter-spacing: 10px;
    }
}

@keyframes welcomeHalf {
    0%, 10% {
        color: var(--black);
    }
    50% {
        color: var(--pink);
    }
    90%, 100% {
        color: var(--black);
    }
}


/* STATISTICS */

.statistics-row {
    margin-bottom: 150px;
}

.border-statistics {
    border-bottom: 2px solid var(--pink);
}

.subject-stat {
    font-family: "poppins", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.numbers-stat {
    font-family: "ElanorBold";
    font-size: 3rem;
    transform: translateY(20px);
}


/* LAST ANNOUNCEMENTS */

.cards-wrapper {
    transition: 1s ease;
    padding-right: 100px;
}

::-webkit-scrollbar{
    background: transparent;

}

.last-ann-container {
    margin: 0 10%;
    background-color: var(--pink);
    padding-bottom: 30px;

    & h3 {
        font-family: "ElanorLight";
        font-size: calc(1.8rem + .9vw);
        margin: 0;
        padding: 60px 0;
    }
}

.card-img-top {
    width: 100%;
    padding-top: 50%;
    border: 20px solid white;
    background-size: contain;
    background-origin: padding-box;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--white);
}

.card-body {
    background-color: var(--cream);
    border-radius: 0 0 0.375rem 0.375rem;

    & h5 {
        font-weight: 400;
        font-size: calc(.7rem + .8vw);
    }

    & .card-text {
        font-weight: 200;
        font-size: calc(.7rem + .3vw);
    }

    & .price {
        font-weight: 400;
        font-size: calc(.7rem + .3vw);
    }
}


.fa-bag-shopping {
    font-size: 1.2rem;
}

.btn-buy {
    border: 1px solid var(--pink);
    background-color: var(--pink);

    &:hover {
        border: 1px solid var(--dark);
        background-color: var(--cream);
        color: var(--dark);
    }

    &:active {
        box-shadow: inset 0 0 2px 0px var(--dark);
    }
}

#last-ann-btn {
    font-weight: 200;
    font-size: calc(.9rem + .5vw);
    border: 1px solid var(--pink);
    background-color: var(--dark);
    color: var(--cream);

    &:hover {
        border: 1px solid var(--dark);
        background-color: var(--cream);
        color: var(--dark);
    }

    &:active {
        box-shadow: inset 0 0 2px 0px var(--dark);
    }
}


/* PROMOTION */

.promotion-margin {
    margin-top: 150px;
}

.time {
    font-family: "ElanorBold";
    font-size: 3.5rem;
    /* transform: translateY(5px); */
    transform: translate(-2px, 5px);
}

.time-tag {
    font-size: .6rem;
    transform: translateY(-10px);
}

.time-symbol {
    font-size: 1rem;
    transform: translateY(-7px);
}

.promotion-titles {
    & h5 {
        margin: 0;
        font-family: "ElanorLight";
        font-size: calc(2rem + 1.2vw);
    }

    & p {
        font-weight: 200;
        font-size: calc(0.7rem + .6vw);
        transform: translateX(3px);
    }
}


.form {
    background-color: var(--dark);
    border-radius: 10px;
    padding: 25px 40px 40px 40px;

    & label {
        color: var(--white);
        margin-bottom: 10px;
        font-weight: 200;
    }

    & input {
        background-color: var(--pink);
        border: none;
        border-radius: 5px;
        width: 100%;

    }
        
    .btn-register {
        font-weight: 400;
        color: var(--dark);
        background-color: var(--cream);
    }
    
    @media (max-width: 992px) {
        margin-top: 50px;
    }
}


/* FOOTER */

footer {
    height: 100px;
    margin-top: 200px;
    border-top: 1px solid var(--pink);
    color: var(--dark);

    & h6 {
        font-family: "ElanorLight";
        font-size: calc(1.2rem + .6vw);
        margin-top: 30px;
    }
}

footer .icons {
    padding-bottom: 20px;

    & i {
        font-size: 28px;
        padding: 20px;
    }

}


/* DIALOG */

.dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(20, 60, 73, .95);
    z-index: 9999;

    & h5 {
        font-family: "ElanorBold";
        font-size: calc(3rem + 5vw);
    }

    & p {
        font-weight: 300;
        font-size: calc(1.2rem + .5vw);
    }

    & p:nth-child(even) {
        font-weight: 100;
        font-size: calc(.7rem + .5vw);
    }
}

.dialog h5, .dialog p {
    color: var(--white);
}

.btn-dialog-buy {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);

    &:hover {
        background-color: var(--white);
        color: var(--dark);
    }
}
